<div class="main-container">
  <%= render "shared/notice", flash: flash  %>
  <div class="main-container-title">
    <h1>
      ユーザー情報
      <% if user_signed_in? && current_user.id == @user.id %>
        <%= link_to edit_user_path(@user.id), class: "edit" do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </h1>
  </div>
  <div class="main-fields">
    <div class="field">
      <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, format: 'jpeg', fallback: "no_image.png", size: "120x120" %>
    </div>
    <div class="field">
      <label for="">ニックネーム</label>
      <p><%= @user.name %></p>
    </div>
    <div class="field">
      <label for="">自己紹介</label>
      <p><%= simple_format(@user.introduction) %></p>
    </div>
    <div class="field">
      <p>ツイート <%= @tweets.length %> フォロー <%= @follows.length %> フォロワー <%= @followers.length %></p>
    </div>
    <% unless @user.id == current_user.id %>
      <div class="field">
        <div class="control">
          <% if @follow.empty? %>
            <%= button_to "Follow", follows_path({follow_user_id: @user.id}), method: :post, class: "button is-info" %>
          <% else %>
            <%= button_to "Unfollow", follow_path({follow_user_id: @user.id}), method: :delete, class: "button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/tweets", tweets: @tweets, user_id: @user.id %>
</div>
