<div class="main-container">
  <p id="notice"><%= flash[:notice] %></p>
  <div class="main-container-title">
    <h1>
      ユーザー情報
      <%= link_to edit_user_path(@user.id), class: "edit" do %>
        <i class="far fa-edit"></i>
      <% end %>
    </h1>
  </div>
  <div class="main-fields">
    <div class="field">
      <label for="">ニックネーム</label>
      <p><%= @user.name %></p>
    </div>
    <div class="field">
      <label for="">メールアドレス</label>
      <p><%= @user.email %></p>
    </div>
    <div class="field">
      <label for="">自己紹介</label>
      <p><%= simple_format(@user.introduction) %></p>
    </div>
    <div class="field">
      <label for="">画像</label>
      <p><%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg", fallback: "no_image.png") %></p>
    </div>
  </div>
</div>
