<div class="container">
  <p id="notice"><%= flash[:notice] %></p>
  <h1>ユーザー情報</h1>
  <div>
    <p><%= link_to "編集", edit_user_path(@user.id) %></p>
    <div class="user-field">
      <p>ニックネーム</p>
      <p><%= @user.name %></p>
    </div>
    <div class="user-field">
      <p>メールアドレス</p>
      <p><%= @user.email %></p>
    </div>
    <div class="user-field">
      <p>紹介文</p>
      <p><%= @user.introduction %></p>
    </div>
    <div class="user-field">
      <p></p>
      <!-- 画像を最大300*300で表示 -->
      <p><%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg") %></p>
    </div>
  </div>
</div>
