<div class="tweet" id="tweet_<%= tweet.id %>">
  <div class="tweet_info">
    <div>
      <%= link_to user_path(tweet.user_id, user_id: tweet.user_id), title: "ユーザ画面" do %>
        <%= attachment_image_tag tweet.user, :profile_image, :fill, 30, 30, class: "profile-image", format: 'jpeg', fallback: "no_image.png", size: "30x30" %>
        <span><%= tweet.user.name %></span>
      <% end %>
    </div>
    <div class="tweet_info__timestamp">
      <%= tweet.created_at.strftime("%Y-%m-%d %H:%M") %>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
        <%= link_to tweet_path(tweet.id), method: :delete, remote: true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
    <% end %>
    </div>
  </div>
  <div class="tweet-content">
    <%= simple_format(tweet.content) %>
    <div class="tweet-content__tweet_images">
      <% tweet.tweet_images.each do |tweet_image| %>
        <div class="tweet-content__tweet_image">
          <%= attachment_image_tag tweet_image, :image, :fill, 100, 100, format: 'jpeg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
