<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header id="header" class="">
    <div class="container">
      <a href="/home" title="Home" class="top">Home</a>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= form_tag tweets_path, method: :get, local: true do %>
                <div class="field has-addons">
                  <div class="control">
                    <%= text_field_tag :content, params[:content], class: "input", placeholder: "Find tweets" %>
                  </div>
                  <div class="control">
                    <%= submit_tag "検索", class: "button is-info", style: "display: none;" %>
                  </div>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user.id), title: "ユーザ画面" do %>
                <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.png", size: "50x60" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, title: "ログアウト", method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path, title: "ログイン" do %>
                <i class="fas fa-sign-in-alt"></i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, title: "アカウント作成" do %>
                <i class="fas fa-user-plus"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
