<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header id="header" class="">
    <div class="container">
      <a href="/home" title="Home" class="top">Home</a>
      <nav>
        <ul>
          <!-- if else 内を修正 -->
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id), title: "ユーザ画面" do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.png", size: "50x60" %>
              <% end %>
            </li>
            <!-- ログアウトの見た目だけ作成 -->
            <li><a href="" title=""><i class="fas fa-sign-out-alt"></i></a></li>
          <% else %>
            <li>
              <%= image_tag "no_image.png", size: "50x60" %>
            </li>
          <% end %>
          <!-- if else 内を修正 -->
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
