<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header id="header" class="">
    <div class="container">
      <a href="/" title="TOP" class="top">TOP</a>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li>
              <!-- railsのヘルパーを使用してリンクを生成 -->
              <%= link_to current_user.email, user_path(current_user.id), title: "ユーザ画面" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
