<div class="main-container">
  <div class="main-container-title">
    <h2>アカウント作成</h2>
  </div>
  <div class="main-fields">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %></p>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <p><%= f.password_field :password, autocomplete: "new-password", class: "input" %></p>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <p><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %></p>
      </div>

      <div class="actions">
        <%= f.submit "作成", class: "button is-primary main-botton" %>
      </div>
    <% end %>
  </div>
  <%= render "users/shared/links" %>
</div>

